*.iml
.gradle/
.idea/
/local.properties
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.jks
*.keystore
!app/wecare.jks
*.hprof
.kotlin/
.jdk17/
.android-sdk/
.gradle-user/
dist/
*.apk
!screenshot/**/*.png
